.dashboard-body .inspect-dashboard-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-left: none;
  height: 100%;
  min-height: 120px;
  gap: 20px;
  padding: 20px;
  overflow-y: hidden;
  background-color: var(--color-secondary);
}

.inspect-dashboard-contents .horizontal-scroll {
  overflow-x: scroll;
  padding-bottom: 4px;
}

.inspect-dashboard-contents .dashboard-contents-header {
  width: 100%;
  max-width: max(60vw, 900px);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 4px;
  gap: 5px;
}

.dashboard-contents-header::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
  height: 3px; /* Adjust the height of the scrollbar */
}

/* Style the track */
.dashboard-contents-header::-webkit-scrollbar-track {
  background-color: var(--color-secondary); /* Set the track background color */
  border-radius: 5px; /* Add a rounded corner to the track */
}

/* Style the thumb */
.dashboard-contents-header::-webkit-scrollbar-thumb {
  /* background-color: var(--color-inactive-text); Set the thumb background color */
  background-color: #3f3c4d; /* Set the thumb background color */
  border-radius: 5px; /* Add a rounded corner to the thumb */
}

.inspect-dashboard-contents .left-align {
  margin-left: auto;
}

.dashboard-contents-header .search {
  font-size: 16px;
  padding: 16px 16px;
  width: 270px;
  color: var(--color-font);
  background-color: var(--color-tertiary);
  border-radius: 10px;
  border: 1px solid var(--color-border);
}

.dashboard-contents-header .search:focus {
  outline: none;
}

.dashboard-contents-header .tag-text {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-border);
  border-radius: 5px;
  text-wrap: nowrap;
  min-width: 140px;

  font-size: 14px;
  padding: 6px 6px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-font);

  margin-bottom: 10px;
}

.inspect-dashboard-contents .db-table {
  height: fit-content;
  width: 100%;
  /* min-width: 900px; */
  max-width: max(60vw, 900px);
}

.db-table .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.db-table .db-header {
  height: 45px;
  display: grid;
  grid-template-columns: 3fr 11fr 3fr 4fr 4fr;
  background-color: var(--color-tertiary);
  color: var(--color-font);
}

.db-header .left-border {
  border: 1px solid var(--color-border);
  border-right: none;
}

.db-header .right-border {
  border: 1px solid var(--color-border);
}

.db-header p {
  font-weight: bold;
  text-align: center;
}

.db-table .db-body {
  display: flex;
  flex-direction: column;
  min-height: 43px;
  height: fit-content;
  overflow-y: hidden;
  background-color: var(--color-button-darker);
  color: var(--color-font);

  border: 1px solid var(--color-border);
  border-top: none;
}

.db-body .row {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 3fr 11fr 3fr 4fr 4fr;
  padding: 7px 0 7px 0;
  border: 1px solid var(--color-border);
}

.row .emoji-button {
  transition: color 0.3s ease;
  color: var(--color-inactive-bg);
}

.row .emoji-button:hover {
  color: var(--color-negative);
  cursor: pointer;
}

.db-body .row:last-of-type {
  border-bottom: none;
}

.db-body .row a {
  display: contents;
  grid-column: span 1;
  text-decoration: none;
  color: #5e64e0;
}

.db-body .row a:hover {
  cursor: pointer;
  color: #7277e2;
}

.overflow {
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inspect-dashboard-contents .db-page-control {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.db-page-control .nav-button {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  background-color: var(--color-button-darker);
  color: var(--color-font);
  border: 1px solid var(--color-border);
  text-wrap: nowrap;
}

.db-page-control .nav-button:hover {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-border);
}

.db-page-control .nav-button-disabled {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  background-color: var(--color-inactive-bg);
  color: var(--color-inactive-text);
  border: 1px solid var(--color-border);
  cursor: not-allowed;
}

.db-page-control .page-number {
  margin: 0 30px;
}

.left-align {
  text-align: left;
}
