.secondary-navbar .button-text-wrap {
  display: block;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.secondary-navbar .default-conversation-title {
  box-sizing: border-box;
  /* 20px is from left+right margin */
  width: calc(100% - 20px);
  margin: 10px 10px 0px 10px;
  text-align: left;
  background-color: transparent;
  color: var(--color-font);

  display: flex;
  flex-direction: row;
  border-radius: 8px;
  position: relative;
}

.default-conversation-title:hover {
  background-color: var(--color-button-darker);
}

.secondary-navbar .selected-conversation-title {
  box-sizing: border-box;
  /* 20px is from left+right margin */
  width: calc(100% - 20px);
  margin: 10px 10px 0 10px;
  text-align: left;
  background-color: var(--color-button-darker);
  border-color: rgb(0, 0, 0, 0.2);
  color: var(--color-font-selected);

  display: flex;
  flex-direction: row;
  border-radius: 8px;
  position: relative;
}
