.secondary-navbar .button-text-wrap {
  display: block;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.secondary-navbar .chat-history {
  flex: 1;
  overflow-y: auto;
}

.chat-history::-webkit-scrollbar {
  width: 3px; /* Adjust the width of the scrollbar */
  height: 3px; /* Adjust the height of the scrollbar */
}

/* Style the track */
.chat-history::-webkit-scrollbar-track {
  background-color: var(--color-secondary); /* Set the track background color */
  border-radius: 2px; /* Add a rounded corner to the track */
}

/* Style the thumb */
.chat-history::-webkit-scrollbar-thumb {
  background-color: var(--color-inactive-text); /* Set the thumb background color */
  border-radius: 2px; /* Add a rounded corner to the thumb */
}

.dashboard-body .llm-dashboard-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: var(--color-secondary);
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-left: none;
  height: 100%;
}

.llm-dashboard-contents .conversation-container {
  flex: 1;
  /* 100% - Footer - Margin (Top + Bot 20px) */
  max-height: calc(100% - 4rem - 40px);
  margin: 20px;
  display: flex;
  width: 100%;
  overflow-y: auto;
  justify-content: center;
}

.conversation-container .chat-zone {
  width: 100%;
  padding: 20px;
  max-width: max(50vw, 900px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-zone .chat {
  padding: 20px 0px;
  text-align: left;
  color: var(--color-font);
  line-height: 1.8em;
}

.chat-zone .chat.user {
  background-color: var(--color-button-darker);
  color: var(--color-font);
  padding: 20px;
  border-radius: 20px;
  max-width: 80%;
  align-self: flex-end;
}

.chat-zone h3 {
  margin-bottom: 5px;
}

.chat-zone code {
  background-color: var(--color-button-darker);
  margin: 6px 0px;
  padding: 5px 7px;
  border-radius: 8px;
}

.chat-zone code::selection {
  background: var(--color-tertiary);
  color: var(--color-font);
}

.chat-zone span::selection {
  background: var(--color-tertiary);
  color: var(--color-font);
}

.chat-zone div {
  display: flex;
  flex-direction: column;
}

.llm-dashboard-contents .footer {
  background-color: var(--color-button-darker);
  display: flex;
  align-items: end;
  padding: 10px;
  margin-bottom: 15px;
  width: 90%;
  gap: 10px;
  max-width: max(50vw, 900px);
  border-radius: 40px;
  height: fit-content;
}

.footer .prompt-search {
  flex: 1;
  resize: none;
  overflow: auto;
  padding: 0px 20px 0 20px;
  min-height: 20px;
  max-height: 250px;
  border: none;
  background: none;
  color: var(--color-font);
}

.footer .prompt-search:focus {
  border: none;
  outline: none;
}

.footer .submit {
  border-radius: 40px;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: rgba(83, 83, 83, 0.1);
  color: rgb(0, 0, 0, 0.8);
  transition: 0.3s;
  cursor: not-allowed;
}

.footer .submit.ok {
  border-radius: 40px;
  padding: 0px;
  width: 50px;
  height: 50px;
  background-color: rgba(83, 83, 83, 0.2);
  color: rgb(0, 0, 0, 0.8);
  cursor: pointer;
}

/* Create New Chat Container */
.dashboard-container .create-chat-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 40px;
}

.create-chat-container .new-chat-contents {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-border);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 28rem;
}

.new-chat-contents .chat-name {
  padding: 15px;
  margin-top: 1.5rem;
  font-size: 16px;

  border-radius: 10px;
  border: 1px solid var(--color-border);
  background-color: var(--color-button-darker);
  color: var(--color-font);
}

.new-chat-contents .chat-name:focus {
  outline: none;
}

.new-chat-contents .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: 20px;
}

.test-virtualized-list {
  display: flex !important;
  width: 800px;
}
