.file-dashboard-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-left: none;
  height: 100%;
  gap: 20px;
  padding: 20px;
  overflow-y: hidden;
  background-color: var(--color-secondary);
}

.file-dashboard-contents .file-dropzone {
  height: 20%;
  min-height: 200px;
  width: 50%;
  min-width: 400px;
  background: none;
  border: 3px dashed rgb(255, 255, 255, 0.1);
  background-color: var(--color-button-darker);
  color: var(--color-font);
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}

.file-list-wrapper {
  height: 50%;
  min-height: 200px;
  width: 50%;
  min-width: 400px;
  border: 1px solid var(--color-border);
  background-color: var(--color-button-darker);
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.file-dashboard-contents .file-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.file-list .file-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 15px;
  padding: 6px;
  border-bottom: 1px solid #cccccc;
}

.file-info:last-of-type {
  border-bottom: none;
}

.file-info .file-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background-color: rgb(128, 128, 128, 0.2);
  color: var(--color-font);
}

.file-info .file-name {
  flex: 1;
  text-align: left;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: var(--color-font);
}

.file-info .remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  color: red;
  margin-right: 5px;
}

.file-info .remove-btn:hover {
  border: none;
}

.file-dashboard-contents .footer {
  display: flex;
  gap: 10px;
}

/* Upload Files Container */
.dashboard-container .upload-files-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 40px;
}

.upload-files-container .upload-files-contents {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-border);
  color: var(--color-font);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 28rem;
}

.upload-files-contents .tag-name {
  margin-top: 10px;
  padding: 15px;
  font-size: 16px;

  border-radius: 10px;
  background-color: var(--color-button-darker);
  color: var(--color-font);
  border: 1px solid var(--color-border);
}

.upload-files-contents .tag-name:focus {
  outline: none;
}

.upload-files-contents .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  gap: 20px;
}
