.login-header {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 150px;
  font-weight: 700;

  background: linear-gradient(to right, #2ecc40, #39cccc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.login-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  width: 420px;
  background-color: var(--color-secondary);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px 40px;
}

.login-container h1 {
  font-size: 36px;
  text-align: center;
}

.login-container .login-input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  margin: 30px 0;
}

.login-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: var(--color-font);
  background-color: var(--color-tertiary);
  padding: 20px 45px 20px 20px;
}

.login-input-box input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-secondary) inset;
  -webkit-text-fill-color: #000000;
}

.login-input-box input::placeholder {
  color: rgb(183, 183, 183);
}

.login-input-box .login-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--color-font);
}

.login-container .login-button {
  width: 100%;
  height: 45px;
  background: var(--color-button-darker);
  border: 1px solid var(--color-border);
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: var(--color-font);
  text-wrap: nowrap;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-button:hover {
  background-color: var(--color-tertiary);
}

.login-container .register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px 0;
}

.register-link p {
  color: var(--color-font);
}

.register-link p a {
  color: #4d4dc0;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
