:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* rgba(255, 255, 255, 0.87) */
  color: #f4f5f7;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #0c0e16;
  --color-secondary: #12101b;
  --color-secondary-lighter: #181722;
  --color-tertiary: #2c2937;
  --color-border: rgba(244, 245, 247, 0.04);

  --color-button-darker: #1d1b24;

  --color-inactive-bg: rgb(223, 225, 230, 0.4);
  --color-inactive-text: rgb(193, 199, 208, 1);

  --color-positive: #03543f;
  --color-negative: #9a2727;

  --color-font: #cdcaca;
  --color-font-inactive: #585858;

  font-size: 18px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background: url("../assets/background.jpg") no-repeat; */
  background-color: var(--color-primary);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.1em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: antiquewhite;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  border-color: rgb(0, 0, 0, 0.2);
}

.action-button {
  padding: 0.8em 1.6em;
  background-color: var(--color-button-darker);
  color: var(--color-font);
  border: 1px solid var(--color-border);
  text-wrap: nowrap;
}

.action-button-inactive {
  padding: 0.8em 1.6em;
  background-color: var(--color-inactive-bg);
  color: var(--color-inactive-text);
  border: 1px solid var(--color-border);
  text-wrap: nowrap;
  cursor: not-allowed;
}

.action-button-cancel {
  padding: 0.8em 1.6em;
  background-color: var(--color-negative);
  color: var(--color-inactive-text);
  border: 1px solid var(--color-border);
  text-wrap: nowrap;
}

.action-button:hover {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-border);
}

input,
textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
    cursor: pointer;
  }
  button {
    background-color: #f9f9f9;
  }
}

*::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
  height: 10px; /* Adjust the height of the scrollbar */
}

/* Style the track */
*::-webkit-scrollbar-track {
  background-color: var(--color-secondary); /* Set the track background color */
  border-radius: 5px; /* Add a rounded corner to the track */
}

/* Style the thumb */
*::-webkit-scrollbar-thumb {
  /* background-color: var(--color-inactive-text); Set the thumb background color */
  background-color: #3f3c4d; /* Set the thumb background color */
  border-radius: 5px; /* Add a rounded corner to the thumb */
}

/* Style the thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-tertiary); /* Change the thumb background color on hover */
}
